<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>𝒰𝒩𝐸𝒮</title>
    <link rel="shortcut icon" href="imagens/icone.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/quemsomos.css">
</head>

<body>
    <header class="header">
        <img src="imagens/logo.png" alt="">
        <div class="link">
            <a href="index.html" target="_self">home/</a>
            <a href="quemsomos.html" target="_self">quem somos/</a>
            <a href="contato.html" target="_self">contato</a>
        </div>
    </header>
    <div class="text">
        <h2>quem somos</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum totam maiores doloribus, itaque earum repellat
            expedita, fuga iste facere neque ducimus magni consequatur, quaerat odio dignissimos eius provident nobis
            debitis. <strong>Lorem ipsum dolor</strong> sit amet consectetur adipisicing elit. Quas consequatur officia
            assumenda obcaecati eos officiis voluptas voluptates recusandae iste, dolorum minus laudantium sit corrupti
            aspernatur enim sequi aut. Voluptate, praesentium! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Non expedita quod dolores, ipsum magnam architecto nobis est? Unde voluptatum fugit rerum quae. Aut
            exercitationem praesentium dolorum sed iusto eum tenetur.
        </p>

        <h2> 5 motivos para estudar</h2>
        <ul>
            1)material sempre atualizado <br>
            2)tablets sala de aula <br>
            3)professores renomados <br>
            4)universidade bem avaliada <br>
            5)ótima localização
        </ul>
        <hr>

        <h2>objetivos</h2>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia libero, distinctio assumenda
            <strong>molestiae</strong>, placeat, maxime a aspernatur eaque dolores dolorum non accusamus. Mollitia ex
            magni repudiandae impedit est temporibus totam? lorem Lorem ipsum, dolor sit amet consectetur adipisicing
            elit. Eaque repellendus nihil voluptatem deserunt quo culpa porro delectus blanditiis sequi quos! Optio
            mollitia illum laboriosam quos in aliquid modi fugit aspernatur. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Exercitationem non aspernatur nihil dolor adipisci magni qui architecto amet alias dolore
            doloribus neque, fugiat quod voluptates atque maiores cumque earum ex?
        </p>

        <strong>
            <p class="text1">todos os direitos reservados</p>
        </strong>

    </div>
</body>

</html>